* {
    padding: 0;
    margin: 0;
}

.hero {
    background-image: url("../images/mila_hero.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
    text-align: center;
}

body {
    background-color: #F5FFF9;
    text-align: center;
}

h1 {
    color: #F2D3D0;
}

#slogan {
    font-style: italic;
}

#mila {
    max-height: 500px;
}